In [23]:
import re
import pandas as pd

In [24]:
string = 'У! ПЕТСАЛ®, Сыворотки диагностические сальмонеллезные адсорбированные для РА, лиофилизат для диагностических целей, моновалентная О- сыворотка  (7) №1'
symbols = re.findall(r'\W',string)
symbols

['!',
 ' ',
 '®',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 '-',
 ' ',
 ' ',
 ' ',
 '(',
 ')',
 ' ',
 '№']

In [31]:
d = {}
for c in symbols:
    lab = f'"{c}":char({ord(c)})'
    d.setdefault(lab,list(c))
    d[lab].append(c)
d

{'"!":char(33)': ['!', '!'],
 '" ":char(32)': [' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' ',
  ' '],
 '"®":char(174)': ['®', '®'],
 '",":char(44)': [',', ',', ',', ','],
 '"-":char(45)': ['-', '-'],
 '"(":char(40)': ['(', '('],
 '")":char(41)': [')', ')'],
 '"№":char(8470)': ['№', '№']}

In [33]:
dat = pd.DataFrame.from_dict(d, orient='index').T
dat

,"""!"":char(33)",""" "":char(32)","""®"":char(174)",""","":char(44)","""-"":char(45)","""("":char(40)",""")"":char(41)","""№"":char(8470)"
0,!,,®,",",-,(,),№
1,!,,®,",",-,(,),№
2,None,,None,",",None,None,None,None
3,None,,None,",",None,None,None,None
4,None,,None,None,None,None,None,None
5,None,,None,None,None,None,None,None
6,None,,None,None,None,None,None,None
7,None,,None,None,None,None,None,None
8,None,,None,None,None,None,None,None
9,None,,None,None,None,None,None,None
10,None,,None,None,None,None,None,None
11,None,,None,None,None,None,None,None
12,None,,None,None,None,None,None,None
13,None,,None,None,None,None,None,None
14,None,,None,None,None,None,None,None
15,None,,None,None,None,None,None,None
16,None,,None,None,None,None,None,None
17,None,,None,None,None,None,None,None

In [36]:
pd.DataFrame(dat.nunique()).reset_index()

            index  0
0    "!":char(33)  1
1    " ":char(32)  1
2   "®":char(174)  1
3    ",":char(44)  1
4    "-":char(45)  1
5    "(":char(40)  1
6    ")":char(41)  1
7  "№":char(8470)  1